<% extend('layout/base') %>
<div class="jumbotron">
    <h1 class="display-4">Hello, Guys!</h1>
    <p class="lead">This is my own block on Node.js.</p>
    <hr class="my-4">
    <p>Developed by Alexey Shirnin.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://github.com/odyssey121/express-generator-demo"
            role="button">Learn more</a>
    </p>
</div>