<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= title %> </title>
</head>
<body>
    <h1><%= title %></h1>
    
    <p>Please enter your Username and Password below</p>
    <form action="/register" method="POST">
        <p>
            <input type="text" name="user[name]" placeholder="username" />
        </p>
        <p>
            <input type="password" name="user[pass]" placeholder="password" />
        </p>
        <p>
            <input type="submit" value="sing up" />
        </p>
    </form>
</body>
</html>