<% extend('layout/base') %>
<h1 class='text-center form-title'><%= title%></h1>
<% include blocks/messages %>
<div class="row justify-content-center">
    <form action="/register" method="POST" class='col-5 min-width-custom'>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Enter username" name="user[name]">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="user[pass]" placeholder="Password">
        </div>
        <div class="form-group">
            <label>Fill username and password for register</label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
</div>
</form>